#cabecalho-pagina {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 32px;
  font: var(--text-xl);
}

#cabecalho-pagina > img {
  margin: 20px 0px;
}

#cabecalho-pagina > div {
  display: flex;
}

#cabecalho-pagina > div > p {
  margin: 0px 8px;
}

#cabecalho-pagina > div > p:hover {
  color: var(--brand-color-light);
}

#cabecalho-pagina > div > img {
  width: 20px;
  height: 20px;
}

@media (width < 80em) {
  #cabecalho-pagina {
    margin-inline: 1rem;

    & img {
      width: 100px;
      height: 20px;
    }
  }
}