nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: solid 1px var(--stroke-color);
  border-bottom: solid 1px var(--stroke-color);
}

nav > a {
  text-decoration: none;
  color: var(--text-color-secondary);
  margin: 14px 32px;
}

nav > a:hover {
  color: var(--brand-color-light);
}