#destaques-geral {
  display: grid;
  grid-template: "robotica hologramas internet" "robotica vestiveis realidade-virtual";
  justify-content: space-between;
  gap: 16px;
  margin: 40px 32px 80px 32px;

  &>.destaques-robotica {
    height: 416px;
    grid-area: robotica;
    width: 608px;
  }

  &> .destaques-robotica > img {
    width: 608px;
    height: 416px;
    position: absolute;
    border-radius: 4px;
  }

  &>.destaques-robotica > div {
    position: relative;
    margin: 268px 24px 24px 24px;
  }
  
  &>.destaques > img {
    position: absolute;
    width: 288px;
    height: 200px;
    border-radius: 4px;
  }
  
  &>.destaques > div {
    position: relative;
    margin: 100px 12px 12px 12px;
  }
  
  &>.destaque-hologramas {
    grid-area: hologramas;
  }
  
  
  &>.destaque-hologramas > p {
    font: var(--text-l);
  }
  
  &>.destaque-internet {
    grid-area: internet;
  }
  
  
  &>.destaque-vestiveis {
    grid-area: vestiveis;
  }
  
  
  &>.destaque-realidade-virtual {
    grid-area: realidade-virtual;
  }
}

#week {
  margin-bottom: 80px;
  &>.busca {
    border-top: solid 1px var(--stroke-color);
    padding-top: 24px;
    margin: 0px 32px;
    display: flex;
    justify-content: space-between;
    color: var(--text-color-secondary);
    font: var(--text-span);
    &>div {
      &>a {
        text-decoration: none;
        color: var(--text-color-secondary);
      }
      &>a:hover {
        color: var(--brand-color-light);
      }
    }
  }
  
  &>.busca > div {
    display: flex;
    align-items: center;
  }
  
  &>.busca > div > img {
    margin-left: 4px;
  }
  
  &>.mais-visitados {
    display: flex;
    gap: 16px;
    margin: 24px 32px;
  }
  
  &>.mais-visitados > div > div {
    width: 292px;
    height: 160px;
  }
  
  &>.mais-visitados > div > div > img {
    width: 292px;
    height: 160px;
    position: absolute;
  }
  
  &>.mais-visitados > div > div > span {
    position: relative;
    margin: 8px;
  }
  
  &>.mais-visitados > div > p {
    margin-top: 8px;
    font: var(--text-xl);
    width: 292px;
    height: 66px;
  }
}

@media (width < 80em) {
  #destaques-geral {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin: 1rem 1rem 2rem 1rem;

    & .destaques-robotica {
      width: 328px;
      height: 416px;

      & img {
        width: 328px;
        object-fit: cover;
        object-position: center;
      }

      & .destaques-texto h1 {
        overflow: auto;
        scrollbar-width: none;
        height: 96px;
      }
    }

    & .destaques {
      width: 328px;

      & img {
        width: 328px;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  #week {

    & .busca {
      margin: 1rem;
    }

    & .mais-visitados {
      display: flex;
      align-items: center;
      flex-direction: column;
        
      margin: 2rem 1rem;
      width: 328px;
      gap: 2rem;

      & div {
        width: 328px;
        & div img {
          width: 328px;
        }
      }
    }
  }
}